@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Your API host as configured is: <strong>@Model.ApiHost</strong></p>

</div>
